.form {
  width: 50%;
  margin: auto;
  border: solid;
  border-width: 1px;
  border-color: #212124;
  overflow:hidden;
  margin-top: 49px;
  margin-bottom: 50px;
  padding: 20px 20px;
}
.inputtaskname {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 5px;
}
.inputdescription {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  color:white;
  font-size: 16px;
  padding: 5px 5px;
}
::placeholder {
  color: #A1A1AA;
}
.addtask {
  float: right;
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-color: #212124;
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 10px;
}
.addtask:hover {
  cursor: pointer;
  background-color: #18181a;
}