.listcontainer {
  text-align: center;
  margin-top: 110px;
}
.tasklist {
  font-size: 24px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
}
.listcontent {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  padding: 0px;
}