.listcontainer {
  border-top: solid;
  border-width: 1px;
  text-align: center;
  margin-top: 49px;
}
.currenttasks {
  font-size: 24px;
  margin-top: 49px;
}
.listcontent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  text-align: left;
  list-style-type: none;
  cursor: pointer;
  margin-top: 16px;
}