.box{
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 25px;
  margin-bottom: 5px;
}
.taskname {
  font-size: 18px;
}
.description {
  font-size: 16px;
  color: #828282;
}
.strikethrough {
  text-decoration: line-through;
}