.list-container {
  border-top: solid;
  border-width: 1px;
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
}

.list-content {
  display: inline-block;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}