.footer {
  width: 100%;
  background-color: transparent;
  margin: 0 auto;  
  position: relative;
  bottom: 0;
}
.footer-container {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  margin: 0 auto; 
  padding-top: 30px;
  padding-bottom: 50px;
  height: 2vh;
  background-color: transparent;
  text-align: center;
}