.header {
  width: 100%;
  top: 0;
  position: fixed;
  border-bottom: solid;
  border-width: 1px;
  border-color: #212124;
  backdrop-filter: blur(5px);
}
.headercontainer {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}