.header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: solid;
  border-width: 1px;
  background-color: #121212;
}
.headercontainer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}